.image-size {
	width: 50%;
}
.background-box {
	border-style: dashed;
	border-color: gray;
	border-width: 0px;
	align-items: center;
}
.box-1 {
	border-style: solid;
	border-color: gray;
	border-width: 1px;
	align-items: center;
}
.google-logo {
	padding: 150px;
	padding-top: 20px;
	padding-bottom: 5px;
	padding-left: 450px;
	margin: 20px;
}
.search-bar {
	padding-top: 5px;
	padding-left: 450px;
}
.bar-size {
	padding-left: 125px;
	padding-right: 90px;
}
body {
	font-family: Arial, Helvetica, sans-serif;
}

