#google-logo {
	border: 1px solid black;
	width: 50%;
}
#logo-container {
	border: 1px solid red;
    width:100%;
    display: flex;
    justify-content: space-around;
}
#search-bar {
	border: 1px solid black;
	width: 55%;
}
#bar-container {
	border: 1px solid red;
    width:100%;
    display: flex;
    justify-content: space-around;
}
#buttons {
	border: 1px solid black;
}
#button-container {
	border: 1px solid red;
    width:100%;
    display: flex;
    justify-content: space-around;
}
.google-logo {
	margin-top: 40px;
}
.search-bar {
	margin-top: 20px;
	border-radius: 10px;
}
.buttons {
	margin-top: 20px;
}
.search-button {
	margin-right: 10px;
}
.lucky-button {
	margin-left: 10px;
}