#google-logo {
	border: none;
	width: 50%;
}
#logo-container {
	border: none;
    width:100%;
    display: flex;
    justify-content: space-around;
}
#search-bar {
	border:1px solid gainsboro;
	width: 55%;
}
#bar-container {
	border: none;
    width: 100%;
    display: flex;
    justify-content: space-around;
}
#buttons {
	border: none;
}
#button-container {
	border: none;
    width:100%;
    display: flex;
    justify-content: space-around;
}
.google-logo {
	margin-top: 40px;
}
.search-bar {
	margin-top: 20px;
	margin-bottom: 20px;
	border-radius: 10px;
}
.buttons {
	margin-top: 20px;
}
.search-button {
	margin-right: 10px;
}
.lucky-button {
	margin-left: 10px;
}
#navbar-container {
	border: none;
    width:100%;
    display: flex;
    justify-content:flex-end;
}
ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: white;
}
li {
	float: left;
}
li a {
	display: block;
	border-radius: 100%;
	padding: 8px;
	color: black;
	text-align: center;
	padding: 5px 5px;
	text-decoration: none;
}
.navbar-1 {
	margin: 10px;
}
.navbar-1:hover {
	text-decoration-line: underline;
}
.navbar-2 {
	margin: 5px;
}
.navbar-2:hover {
	background-color: gainsboro;
}
footer {
	position: fixed;  
    left: 10px;  
    bottom: 5px;  
    right: 10px;   
    width: 100%
}
#footer-container {
	border: 1px solid gainsboro;
    width:100%;
    display: flex;
}
.footers {
	margin: 5px;
}
.footers:hover {
	text-decoration-line: underline;
}
#footer-1 {
	border: none;
    width:100%;
    display: flex;
    justify-content:flex-start;
}
#footer-2 {
	border: none;
    width:100%;
    display: flex;
    justify-content:flex-end;
}